@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */

body {
  background-color: #030303;
}

.font-poppins-md {
  font-family: 'Poppins-Md';
}
.font-poppins-semibold {
  font-family: 'Poppins-SemiBold';
}
.font-playfair-md {
  font-family: 'Playfair-Md';
}


@font-face {
  font-family: 'Playfair-Md';
  src: url(../../public/fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: 'Poppins-Md';
  src: url(../../public/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(../../public/fonts/Poppins-SemiBold.ttf);
}

/* NAV */

.nav {
  background-color: rgb(3, 3, 3, 0.9);
  backdrop-filter: blur(3px);
}

/* HOME PAGE */

.model-head-1-container {
  width: 100%;
}

.model-head-1 {
  background-image: url(../../public/imgs/model-head-1.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25rem;
  border: 1px solid rgb(255, 255, 255, 0.3);
}

.model-head-2 {
  background-image: url(../../public/imgs/model-head-2.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 32rem;
  border: 1px solid rgb(255, 255, 255, 0.3);
}

.three-section-1 {
  background-image: url(../../public/imgs/three-section-1.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30rem;
  border: 1px solid rgb(255, 255, 255, 0.3);
}

.three-section-container-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.three-section-2 {
  background-image: url(../../public/imgs/three-section-2.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20rem;
  border: 1px solid rgb(255, 255, 255, 0.3);
}

.new-in-container {
  width: 20rem;
  height: 20rem;
  display: flex;
  padding: 2rem;
  justify-content: end;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  border: 1px solid rgb(255, 255, 255, 0.3);
}

.jacket-1 {
  background-image: url(../../public/imgs/jacket-1.jpg), linear-gradient(to bottom, rgb(255, 255, 255, 0), rgb(0, 0, 0, 0.7));
}

.jacket-2 {
  background-image: url(../../public/imgs/jacket-2.jpg), linear-gradient(to bottom, rgb(255, 255, 255, 0), rgb(0, 0, 0, 0.7));
}

.jacket-3 {
  background-image: url(../../public/imgs/jacket-3.jpg), linear-gradient(to bottom, rgb(255, 255, 255, 0), rgb(0, 0, 0, 0.7));
}

.new-collections-1 {
  background-image: url(../../public/imgs/new-collections-1.jpg);
  width: 100%;
  height: 40rem;
  background-position: center;
  background-size: cover;
  border: 1px solid rgb(255, 255, 255, 0.3);
}

.newsletter-image {
  background-image: url(../../public/imgs/newsletter-woman.jpg);
  width: 100%;
  height: 35rem;
  background-position: center;
  background-size: cover;
  border: 1px solid rgb(255, 255, 255, 0.3);
}

.new-collections-image-2 {
  background-image: url(../../public/imgs/new-collections-2.jpg),
  linear-gradient(to bottom, rgb(255, 255, 255, 0), rgb(0, 0, 0, 0.7));
}

.new-collections-image-3 {
  background-image: url(../../public/imgs/new-collections-3.jpg),
  linear-gradient(to bottom, rgb(255, 255, 255, 0), rgb(0, 0, 0, 0.7));
}

.scrolling-text {
  display: flex;
  white-space: nowrap;
  animation: scroll 25s linear infinite;
}

.scrolling-text-advantages {
  white-space: nowrap;
  animation: scroll 15s linear infinite;
}

.transition-custom {
  transition: opacity 1s ease, transform 0.5s ease, filter 1s ease;
}

.transition-entered {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

.transition-exited-2 {
  opacity: 0;
  filter: blur(3px);
}

.transition-exited {
  opacity: 0;
  transform: scale(0.95);
  filter: blur(2px);
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.showMenu {
  animation: showMenu 1s ease;
}

@keyframes showMenu {
  from {
    height: 0%;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}

/* MEDIA QUERIES */

@media (min-width: 1024px) {

  .model-head-2 {
    width: 20rem;
  }

  .three-section-1 {
    width: 30rem;
  }

  .three-section-container-img {
    width: 25rem;
    gap: 0rem;
  }

  .new-collections-1 {
    width: 20rem;
  }

  .newsletter-image {
    width: 20rem;
  }

  .scrolling-text-advantages {
    animation: none;
  }
  
}